################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Game/bin
/Game/obj
/Game/Celeste-Addons.csproj.user
/Game/Celeste.exe
/Tools/bin
/Tools/obj
/Tools/CelesteStudio.csproj.user
/Game/CelesteGL.exe
/InputViewer/bin
/InputViewer/obj
/InputViewer/TASViewer.csproj.user
/Game/CelesteXNA.exe
LevelFiles/*.ltm
